{erl_opts, [debug_info]}.

{deps, [
    grpcbox,
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}}
]}.

{grpc, [
    {protos, [
        "priv/protos/channels/v1",
        "priv/protos/clients/v1",
        "priv/protos/auth/v1"
    ]},

    {out_dir, "src/smq_grpc_clients"},
    {gpb_opts, [
        {i, "priv/protos"},
        {o_erl, "src/smq_grpc_clients"},
        {o_hrl, "include"},
        {module_name_suffix, "_pb"},
        {strings_as_binaries, true},
        {type_specs, true},
        {recursive, true}
    ]},

    % Configure services
    {services, #{
        % Generate both server and client
        % mode => [client, server],
        % Generate only client
        mode => [client],
        client_suffix => "_client",
        % Behavior suffix for servers
        server_suffix => "_bhvr"
    }},
    % Tell plugin which templates to generate (all|client|server)
    {type, "client"}
]}.

{provider_hooks, [
    {pre, [{compile, {grpc, gen}}]}
]}.

{plugins, [erlfmt, grpcbox_plugin]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [smq_auth]},
]}.
