[
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                filter_default => stop,
                filters => [
                    {remote_gl, {fun logger_filters:remote_gl/2, stop}},
                    % Stops all the logs of `otp` `sasl` like supervisor, application all other logs are stopped
                    % To enable change to `stop` to `log`
                    {domain, {fun logger_filters:domain/2, {stop, super, [otp, sasl]}}},
                    {smq_auth, {fun logger_filters:domain/2, {log, super, [smq_auth]}}},
                    % Stops all the logs if domain is not defined.
                    % To enable change to `stop` to `log`
                    {no_domain, {fun logger_filters:domain/2, {stop, undefined, []}}}
                ],
                formatter =>
                    {logger_formatter, #{
                        single_line => false,
                        legacy_header => true,
                        template => [
                            time,
                            " ",
                            level,
                            " ",
                            pid,
                            " ",
                            gl,
                            " ",
                            file,
                            " ",
                            line,
                            " ",
                            mfa,
                            " ",
                            domain,
                            " ",
                            msg,
                            " ",
                            % In all logger need to add at atom called vars and that will be added in log,  example `logger:info("grpcbox started with channels: ~n", [], #{vars => {channels, Channels}}),`
                            vars,
                            "\n"
                        ]
                    }}
            }}
        ]}
    ]}
].
